<h1>Ultimate Burger List!</h1>

<h2>Still gotta eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless ate}}
      {{> burgers/burger-block ate=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Ate and tastes great!</h2>

<ul>
  {{#each burgers}}
    {{#if ate}}
      {{> burgers/burger-block ate=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Type:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Have you tried it?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Already tried<br>
    <input type="radio" name="sleepy" value="0"> Need to try
  </div>

  <button class="add" type="submit">Add Burger</button>
</form>