<li class="list-group-item d-flex bd-highlight">
	<h4 class="flex-grow-1 bd-highlight">{{burger_type}}</h4>

	<button class="delete-burger btn btn-danger bd-highlight" data-id="{{this.id}}">Remove</button>
</li>